.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: center;
    text-align: left;
}

.select-container {
    margin: 1rem 0;
}

#statusFilter {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 200px;
    cursor: pointer;
    transition: border 0.3s;
}

#statusFilter:focus {
    border-color: #007bff; 
    outline: none; 
}

button{
    margin: 5px;
    border-color:black;
    color:black;
}

.button:hover{
    background-color:black;
    transition: 0.7s;
    color: white;
}

.flexbox {
    display: flex;
    justify-content: center;
    text-align: left;
}

body.light {
    background-color: white;
    color: black;
  }
  
body.dark {
    background-color: black;
    color: white;
  }

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.home-container.light {
    background-color: white;
    color: black;
}

.home-container.dark {
    background-color: black;
    color: white;
}