.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: flex-end;
    flex-direction: column;
    margin: 10px;
    border: 2px solid black;
    min-height: 1000px; */
}

.select-container {
    margin: 1rem 0;
}

#statusFilter {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 200px; /* Adjust width as needed */
    cursor: pointer;
    transition: border 0.3s;
}

#statusFilter:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}
